<ion-header>
    <ion-toolbar class="ion-no-border">
        <ion-title>{{category}}</ion-title>
    </ion-toolbar>
    <ion-toolbar class="ion-no-border">
    </ion-toolbar>
</ion-header>
<ion-content class="ion-no-padding; background">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="closeModal()"><ion-icon name="arrow-back-outline"></ion-icon></ion-fab-button>
    </ion-fab>
    <div>
        <ion-card>
            <ion-card-header class="ion-no-padding">
                <ion-card-title><img src="{{ticket.image}}" alt=""></ion-card-title>
            </ion-card-header>
            <ion-card-content style="text-align: left; padding: 3px;" >
                <p><ion-label style="font-size: 14px;"><ion-icon slot="start" name="at"></ion-icon> {{ticket.event}}</ion-label></p>
                <p><ion-label style="font-size: 14px;"><ion-icon slot="start" name="location"></ion-icon> {{ticket.city}}</ion-label></p>
                <p><ion-label style="font-size: 14px;"><ion-icon slot="start" name="calendar"></ion-icon> {{ticket.date}}</ion-label></p>
                <p><ion-label style="font-size: 16px;"><ion-icon slot="start" name="cash-outline"></ion-icon> $CELO {{ticket.price}}</ion-label></p>
            </ion-card-content>
        </ion-card>
    </div>
    <div>
        <ion-button (click)="onClick()" expand="block" fill="solid" shape="round" color="success">
            <ion-label style="font-weight: 800;">Mint NFTicket</ion-label>
        </ion-button>
    </div>

</ion-content>

<style>
    ion-content.background{
    --background: url(../../assets/background/background.jpg) 0 0/100% 100% no-repeat;
    }
    ion-content {
    font-family: Ruda !important;
    }
</style>