<ion-content>
    <ion-card class="ion-no-padding">
        <ion-card-content>
            <iframe 
            src="https://staging-global.transak.com/?apiKey=a57393b5-ff92-489d-a4d6-d8e09a26ace7&redirectURL=https://transak.com&cryptoCurrencyList=CELO&defaultCryptoCurrency=CELO&walletAddress=0x8c5233fcd924a336e35249fea32090a707c0033b&disableWalletAddressForm=true&exchangeScreenTitle=NFTickets&isFeeCalculationHidden=true" frameborder="0"></iframe>
        </ion-card-content>
        <ion-button (click)="back()" expand="block" fill="solid" shape="round">
            Back
        </ion-button>
    </ion-card>
</ion-content>

<style>
    iframe {
        height: 600px;
        width: fit-content;
    }
</style>